<p id="notice"><%= notice %></p>

<p>
  <b>Device:</b>
  <%= @device.device_id %>
</p>

<p>
  <b>Location:</b>
  <% @location = Location.find(device.location_id) %><%= @location.name %>
</p>

<p>
  <b>Light:</b>
  <%= @device.light_id %>
</p>


<%= link_to 'Back', devices_path %>
