<h1>History</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Light</th>
    <th>Device</th>
    <th>Time</th>
    <th></th>
    <th></th>
  </tr>

<% @histories.each do |history| %>
  <tr>
    <td><%= history.location_id %></td>    
    <td><%= history.light_id %></td>
    <td><%= history.device_id %></td>
    <td><%= history.created_at %></td>
    <td><%= link_to 'Show', history %></td>
    <td><%= link_to 'Destroy', history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
