<p id="notice"><%= notice %></p>

<p>
  <b>Light:</b>
  <%= @history.light_id %>
</p>

<p>
  <b>Device:</b>
  <%= @history.device_id %>
</p>

<p>
  <b>Location:</b>
  <%= @history.location_id %>
</p>

<p>
  <b>Time:</b>
  <%= @history.time %>
</p>


<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
