<p id="notice"><%= notice %></p>

<p>
  <b>Light:</b>
  <%= @history.light_id %>
</p>

<p>
  <b>Device:</b>
  <%= @history.device_id %>
</p>

<p>
  <b>Location:</b>
  <% @location = Location.find(history.location_id) %><%= @location.name %>
</p>

<p>
  <b>Time:</b>
  <%= @history.time %>
</p>


<%= link_to 'Back', histories_path %>
