<% content_for :head do %>
<script type="text/javascript">jQuery.noConflict();  </script>
<% end %>

<h1>Lights for <%= @location.name %></h1>

<table>
  <tr>
    <th>Name  </th>
    <th>Frequency</th>
    <th>X</th>
    <th>Y</th>
    <th>Z</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lights.each do |light| %>
  <tr>
    <td><%= light.name %></td>
    <td><%= light.light_id %></td>
    <td><%= light.x_position %></td>
    <td><%= light.y_position %></td>
    <td><%= light.z_position %></td>
    <td><%= link_to light.content , light.content%></td>
    <td><%= link_to 'Show', [@location, light] %></td>
    <td><%= link_to 'Edit', edit_location_light_path(@location, light) %></td>
    <td><%= link_to 'Destroy', [@location, light], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Light', new_location_light_path(@location) %>
<br>

<%= link_to 'Indoor', indoor_location_path(@location) %>


