<% content_for :head do %>
<script type="text/javascript">jQuery.noConflict();  </script>
<% end %>

<h1>Lights for <%= @location.name %></h1>


<table>
  <tr>
    <th>Name</th>
    <th>Light ID</th>
    <th>X (m)</th>
    <th>Y (m)</th>
    <th>Z (m)</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lights.each do |light| %>
  <tr>
    <td><%= light.name %></td>
    <td><%= light.light_id %></td>
    <td><script type="text/javascript">document.write(PXtoM(<%= light.x_position %>));</script></td>
    <td><script type="text/javascript">document.write(PXtoM(<%= light.y_position %>));</script></td>
    <td><%= light.z_position %></td>
    <td><%= link_to light.content , light.content%></td>
    <td><%= link_to 'Details', [@location, light] %></td>
    <td><%= link_to 'Edit', dragdrop_location_light_path(@location, light) %><td>

    <td><%= link_to 'Delete', [@location, light], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Light', newlight_location_lights_path(@location) %>
<br>

<%= link_to 'Indoor Map', indoor_location_path(@location) %>


