<% content_for :head do %>
<script type="text/javascript">jQuery.noConflict();  </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @light.name %>
</p>

<p>
  <b>Location:</b>
  <%= @light.location_id %>
</p>

<p>
  <b>X position:</b>
  <script type="text/javascript">document.write(PXtoM(<%= @light.x_position %>));</script>
</p>

<p>
  <b>Y position:</b>
  <script type="text/javascript">document.write(PXtoM(<%= @light.y_position %>));</script>
</p>

<p>
  <b>Z position:</b>
  <%= @light.z_position %>
</p>

<p>
  <b>Frequency:</b>
  <%= @light.light_id %>
</p>

<p>
  <b>Content:</b>
  <%= @light.content %>
</p>

<%= link_to 'Edit', dragdrop_location_light_path(@location, @light) %>

<%= link_to 'Back', location_lights_path %>
