<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @light.name %>
</p>

<p>
  <b>Location:</b>
  <%= @light.location_id %>
</p>

<p>
  <b>X position:</b>
  <%= @light.x_position %>
</p>

<p>
  <b>Y position:</b>
  <%= @light.y_position %>
</p>

<p>
  <b>Z position:</b>
  <%= @light.z_position %>
</p>

<p>
  <b>Frequency:</b>
  <%= @light.light_id %>
</p>

<p>
  <b>Content:</b>
  <%= @light.content %>
</p>

<%= link_to 'Edit', dragdrop_location_light_path(@location, @light) %>

<%= link_to 'Back', location_lights_path %>
