<% content_for :head do %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDNsmG-CODbm8HLec1SOZBwGCb9HpRmExU&sensor=false">
    </script>
    
  
    <script type="text/javascript">
       var arrMarkers = [];
       var arrInfoWindows = [];

      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(42.350112,-71.106171),
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP };
        var map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
      
      $.noConflict();

      jQuery.getJSON("locations.json", {}, function(json){

 jQuery.each(json, function(i,item){jQuery("#markers").append('<li><a href="#" rel="' + i + '">' + item.location.name + '</a></li>');



              var marker = new google.maps.Marker({position: new google.maps.LatLng(item.location.latitude,item.location.longitude),map: map,title: item.location.name});

                arrMarkers[i] = marker;

});
});


}


    </script>
<% end %>

<h1>Listing locations</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Map</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.location_id %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.map %></td>
    <td><%= location.name %></td>
    <td><%= location.email %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Lights', location_lights_path(location) %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />



<%= link_to 'New Location', new_location_path %>


<% content_for :map do %>

<section class="round">

<div id="map_canvas" style="width:670px; height:400px"></div>

</section>

<% end %>

