<header>
  <%= render 'layouts/logo' %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Locations", locations_path %></li>
      <li><%= link_to "Lights", lights_path %></li>
      <li><%= link_to "Devices", devices_path %></li>
      <li><%= link_to "History", histories_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
